*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "TitleFont";
    src: url("./fonts/BLKCHCRY.TTF");
}
::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-track{
    background-color: white;
    border: 2px solid black;
}
::-webkit-scrollbar-thumb{
    background-color: #ff0000;
    border-radius: 5px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}
body::selection{
    background-color: #ff0000;
    color: white;
}
.circle{
    position: absolute;
    width: 350px;
    height: 350px;
    border: 4px solid #ff0000;
    border-radius: 300px;
}
#circle1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80%;
    right: 0px;
}
#clock-line{
    position: absolute;
    width: 5px;
    height: 250px;
    background-color: #ff0000;
    rotate: 0deg;
}
#circle2{
    margin-top: 20%;
    margin-right: 80%;
    z-index: -1;
}
.main-text-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 230px;
    font-family: "TitleFont", sans-serif;
    margin-top: 5%;
}
.main-text-div > span{
    font-size: 30px;
}
.main-text{
    font-size: 70px;
    color: #ff0000;
}
.main-text > span {
    background-color: #ff0000;
    color: white;
}
#countdown-div{
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 300px;
    margin-left: 0;
}
.countdown-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: auto;
    margin-left: 10px;
    border: 3px solid black;
    border-radius: 15px;
    background-color: white;
}
.countdown-box:hover{
        border-color: #ff0000;
        color: #ff0000;
        box-shadow: 5px 5px 0 #ff0000;
}
.countdown-box > h1{
    font-family: "TitleFont", sans-serif;
    font-size: 120px;
}
.countdown-box > span{
    font-family: "TitleFont", sans-serif;
    font-size: 40px;
    font-weight: 800;
}
#rsvp-btn{
    width: 260px;
    height: 65px;
    background-color: #ff0000;
    border: 2px solid #c00000;
    border-radius: 10px;
    border-bottom-width: 6px;
    color: white;
    font-family: "TitleFont", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 50px;
    cursor: pointer;
}
#rsvp-btn:hover{
    border-bottom-width: 2px;
}
.socialmedia-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 85%;
    height: auto;
    margin-top: 20px;
    font-size: 80px;
}
.socialmedia-title{
    font-family: "TitleFont", sans-serif;
    font-size: 45px;
    margin-top: 80px;
    font-weight: 600;
}
#icon{
    cursor: pointer;
}
#icon:hover {
    color: #ff0000;
}
footer{
    margin-top: 50px;
    font-family: "TitleFont", sans-serif;
    font-size: 18px;
    font-weight: 600;
}
footer > a{
    text-decoration: double;
    color: #ff0000;
    cursor: pointer;
}

@media screen and (max-width: 1180px){
    .main-text{
        font-size: 50px;
    }
}
@media screen and (max-width: 780px){
    .main-text{
        font-size: 35px;
    }
}
@media screen and (max-width: 500px){
    body{
        overflow-y: visible;
        overflow-x: hidden;
    }
    .main-text{
        font-size: 35px;
        text-align: justify;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .main-text-div > span{
    font-size: 20px;
    }
    #countdown-div{
        flex-direction: column;
        margin-left: 40%;
        margin-top: -50px;
    }
    .countdown-box{
        width: 50%;
        margin-top: 20px;
    }
    .countdown-box > h1 {
        font-size: 90px;
    }
    .countdown-box > span {
        font-size: 25px;
    }
    #rsvp-btn{
    position: absolute;
    margin-top: 720px;
    }
    footer{
        margin-top: 0;
        font-size: 18px;
        margin-left: 20px;
    }
    #circle1{
        width: 200px;
        height: 200px;
        z-index: -1;
        margin-bottom: 450px;
        left: 300px;
    }
    #clock-line{
        height: 170px;
    }
    #circle2{
        width: 250px;
        height: 250px;
        margin-top: 350px;
    }
    .socialmedia-section{
        margin-top: 10px;
    }
    #icon{
        font-size: 50px;
    }
    .socialmedia-title{
        margin-top: 480px;
    }
}