*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "TitleFont";
    src: url("./fonts/BLKCHCRY.TTF");
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
  }
.main-text-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 230px;
    font-family: "TitleFont", sans-serif;
    margin-top: 5%;
}
.main-text-div > span{
    font-size: 30px;
}
.main-text{
    font-size: 70px;
    color: #ff0000;
}
#countdown-div{
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 300px;
    margin-left: 0;
}
.countdown-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: auto;
    margin-left: 10px;
    border: 3px solid black;
    border-radius: 15px;
    background-color: white;
}
.countdown-box > h1{
    font-family: "TitleFont", sans-serif;
    font-size: 120px;
}
.countdown-box > span{
    font-family: "TitleFont", sans-serif;
    font-size: 40px;
    font-weight: 800;
}
footer{
    margin-top: 30px;
    font-family: "TitleFont", sans-serif;
    font-size: 18px;
    font-weight: 600;
}
footer > span{
    color: #ff0000;
}
@media screen and (max-width: 1180px){
    .main-text{
        font-size: 50px;
    }
}
@media screen and (max-width: 780px){
    .main-text{
        font-size: 35px;
    }
}
@media screen and (max-width: 500px){
    .main-text{
        font-size: 35px;
        text-align: justify;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .main-text-div > span{
    font-size: 20px;
    }
    #countdown-div{
        flex-direction: column;
        margin-left: 40%;
        margin-top: -50px;
    }
    .countdown-box{
        width: 50%;
        margin-top: 20px;
    }
    .countdown-box > h1 {
        font-size: 90px;
    }
    .countdown-box > span {
        font-size: 25px;
    }
    footer{
        margin-top: 100%;
        font-size: 15px;
    }
}